/* header.component.scss */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  color: #343f44;
  font-size: 25px;
}

body.noche .logo {
  color: #f5f5f5;
}

.logo i {
  font-size: 35px;
  color: #2e86fd;
}

body.noche .logo i {
  color: #fa593c;
}

.menu {
  flex-grow: 2;
  color: #343f44;
  margin-left: 70px;
}

body.noche .menu {
  color: #f5f5f5;
}

.menu ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.menu ul li {
  margin-right: 30px;
  font-weight: 600;
  text-transform: capitalize;
}

body.noche .menu ul li {
  color: #f5f5f5;
}

.outline-button {
  padding: 10px 15px;
  background-color: transparent;
  border: 2px solid #2e86fd;
  color: #2e86fd;
  font-weight: bold;
  cursor: pointer;
}

body.noche .outline-button {
  border-color: #fa593c;
  color: #fa593c;
}

/* Estilos específicos para el menú hamburguesa y menú móvil */
.hamburger-menu {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: #343f44;
  cursor: pointer;
}

body.noche .hamburger-menu {
  color: #f5f5f5;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: #bddbf8;
  padding: 10px;
}

.mobile-menu ul {
  list-style-type: none;
  padding: 0;
}

.mobile-menu ul li {
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: capitalize;
}

body.noche .mobile-menu ul li {
  color: #f5f5f5;
}

/* Estilos para el interruptor */
.switch {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2e86fd;
  border-radius: 24px;
  transition: background-color 0.4s ease;
}

.slider::before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 3px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.4s ease;
}

input:checked + .slider {
  background-color: #fa593c;
}

input:focus + .slider {
  box-shadow: 0 0 10px #4E4061;
}

input:checked + .slider::before {
  transform: translateX(8px);
}

@media only screen and (max-width: 600px) {
  .menu {
    display: none; /* Ocultar el menú original */
  }
  .hamburger-menu {
    display: block;
  }
  .mobile-menu {
    display: none; /* Ocultar por defecto */
  }
}

/* Para pantallas medianas (tablets) */
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .menu {
    display: none; /* Ocultar el menú original */
  }
  .hamburger-menu {
    display: block;
  }
}
