body {
font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
background-color: #bddbf8;
box-sizing: border-box;
}


.wrapper {
width: 1400px;
margin-left: auto;
margin-right: auto;
}

/* Para pantallas pequeñas (móviles) */
@media only screen and (max-width: 600px) {
.wrapper {
width: 100%;
padding: 0px;
}
}

/* Para pantallas medianas (tablets) */
@media only screen and (min-width: 600px) and (max-width: 992px) {
.wrapper {
width: 100%;
}
}