<!-- Sección de presentación de servicios -->
<section class="presentation">
    <!-- Texto antes del título principal -->
    <span class="pre-title">Present your service</span>
    <!-- Título principal -->
    <h1 class="title">Make landing page fast and easily</h1>
    <!-- Texto después del título principal -->
    <span class="post-title">
      Create custom landing pages with Shades
    </span>
    <!-- Formulario de suscripción -->
    <form class="subscribe-form" action="">
      <!-- Campo de entrada para el correo electrónico -->
      <input type="email" id="email" name="email" autocomplete="off" placeholder="Enter your email" class="subscribe-input">
      <!-- Botón de suscripción -->
      <button class="subscribe-button" type="submit">Subscribe</button>
    </form>
    <!-- Texto secundario que indica la confianza en el servicio -->
    <p class="secondary-p">Trusted by over 50,000 and more customers</p>
  </section>
  