body.noche {
  background-color: #2e2e2e;
  color: #f5f5f5;
}

body.noche .logo {
  color: #f5f5f5;
}

body.noche .logo i {
  color: #fa593c !important;
}

body.noche .menu {
  color: #f5f5f5;
}

body.noche .menu ul li {
  color: #f5f5f5;
}

body.noche .outline-button {
  border-color: #fa593c;
  color: #fa593c;
}

body.noche .pre-title {
  color: #cccccc;
}

body.noche .presentation h1 {
  color: #f5f5f5 !important;
  border-right-color: #fa593c; /* Efecto de cursor */
}

body.noche .post-title {
  color: #cccccc;
}

body.noche .subscribe-form button {
  background-color: #2e86fd;
}

body.noche .secondary-p {
  color: #cccccc;
}

body.noche .feature {
  background-color: #333333;
}

body.noche .feature-button {
  border-color: #fa593c;
  color: #fa593c;
}


body.noche .feature h4 {
  color: #f5f5f5;
}

body.noche .feature p {
  color: #cccccc;
}

body.noche .feature i {
  color: #fa593c !important;
}

body.noche footer {
  color: #f5f5f5;
}

body.noche .mobile-menu ul li {
  color: #f5f5f5;
}
