
/* Estilo para el contenedor de las características */
.features {
    display: flex; /* Usar flexbox para el diseño */
    margin-top: 100px; /* Espacio superior */
    justify-content: space-between; /* Distribuir los elementos con espacio entre ellos */
  }
  
  /* Estilo para cada tarjeta de característica */
  .feature {
    display: flex; /* Usar flexbox para el diseño */
    align-items: start; /* Alinear los elementos al inicio del contenedor */
    gap: 20px; /* Espacio entre los elementos */
    width: 400px; /* Ancho de la tarjeta */
    border-radius: 0px 40px 40px 40px; /* Bordes redondeados en la parte inferior derecha */
    background-color: #a5c8ee; /* Color de fondo */
  }
  
  /* Estilo para el botón dentro de la tarjeta de característica */
  .feature-button {
    padding: 10px 15px; /* Espaciado interno */
    background-color: transparent; /* Fondo transparente */
    border: 2px solid #2e86fd; /* Borde del botón */
    color: #2e86fd; /* Color del texto */
    margin-bottom: 10px; /* Espacio inferior */
    cursor: pointer; /* Cambiar el cursor a mano al pasar sobre el botón */
    font-weight: 800; /* Peso de fuente en negrita */
    font-size: 14px; /* Tamaño de fuente */
  }
  
  /* Estilo para el título dentro de la tarjeta de característica */
  .feature h4 {
    margin: 0; /* Eliminar margen */
    font-size: 20px; /* Tamaño de fuente */
  }
  
  /* Estilo para el párrafo dentro de la tarjeta de característica */
  .feature p {
    font-size: 16px; /* Tamaño de fuente */
  }
  
  /* Estilo para los íconos dentro de la tarjeta de característica */
  .feature i {
    font-size: 50px; /* Tamaño de fuente */
    color: #2e86fd; /* Color del ícono */
  }
  
  /* Estilos para pantallas pequeñas (móviles) */
  @media only screen and (max-width: 600px) {
  
    .features {
        flex-direction: column; /* Colocar los elementos en una columna */
        align-items: center; /* Centrar los elementos horizontalmente */
        margin-top: 100px; /* Espacio superior */
    }
  
    .feature {
        width: 100%; /* Ajustar ancho al 100% del contenedor */
        margin-bottom: 20px; /* Espacio inferior */
    }
  }
  
  /* Estilos para pantallas medianas (tablets) */
  @media only screen and (min-width: 600px) and (max-width: 992px) {
    
    .features {
        flex-direction: row; /* Colocar los elementos en una fila */
        align-items: center; /* Alinear los elementos al centro */
        margin-top: 125px; /* Espacio superior */
        gap: 20px; /* Espacio entre los elementos */
    }
  
    .feature {
        width: 100%; /* Ajustar ancho al 100% del contenedor */
        margin-bottom: 20px; /* Espacio inferior */
    }
  }
  